@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

/* Setting */
*{
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
}

/* Boding */

body{
	background-color: #1900ff;
	overflow: hidden;
}

header{
	background-color: #1900ff;
}

header .label{
	font-size: 55px;
	padding: 20px;
	padding-left: 50px;
	color: red;
	font-family: 'Architects Daughter';
}

@media screen and (max-width: 540px){
	header .label{
		padding: 0;
		text-align: center;
		padding: 20px 0 0 0;
	}
}

header .logo{
	right: 5px;
	top: 0;
	position: absolute;
}

@media screen and (max-width: 540px){
	header .logo{
		position: inherit;
		text-align: center;
	}
}

header .logo img{
	width: 190px;
}

body{
	background-color: #1900ff;
}

section .performance .center_performance{
	max-width: 984px;
	margin-right: auto;
	margin-left: auto;
}

@media screen and (max-width: 984px){ /* Media query déjà présent dans la première version */
	section .performance .center_performance{
		max-width: 494px;
	}
}

section .performance .center_performance article{
	background-color: rgba(255, 255, 255, 0.95);
	max-width: 450px;
	width: 91%;
	margin: 0 10px 10px 10px;
	padding: 10px;
	display: inline-grid;
	box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.7);
	text-align: center;
}

section .performance .center_performance article h3{
	text-align: left;
}

section .performance .center_performance article #canon{ /* Ajout ID */
	width: 271px;
}

section .performance .center_performance article #clown{ /* Ajout ID */
	width: 218px;
}

section .performance .center_performance article #tigre{ /* Ajout ID */
	width: 160px;
}

section .performance .center_performance article #acrobat{ /* Ajout ID */
	width: 203px;
}

section .performance .center_performance article span{
	display: none;
}

section .tarif .center_tarif{
	margin: auto;
	max-width: 684px;
}

@media screen and (max-width: 709px){ /* Media query déjà présent dans la première version */
	section .tarif .center_tarif{
		max-width: 340px;
	}
}

section .tarif .center_tarif article{
	background-color: rgb(255, 249, 110);
	display: inline-grid;
	width: 300px;
	height: 350px;
	padding: 10px;
	margin: 0 10px 10px 10px;
	box-shadow: 0 2px 2px 0px black;
}

section .tarif .center_tarif article .rate{
	/* left: 33px; */ /*Relative supprimée*/
	font-size: 30px;
	/* position: relative; */ /*Relative supprimée*/
	padding-left: 40px;
	font-weight: bold;
}

section .tarif .center_tarif article .buy{
	/* position: relative; */ /*Relative supprimée*/
	/* left: 33px; */ /*Relative supprimée*/
	padding-left: 40px;
	font-size: 22px;
}

section .tarif .center_tarif article .buy input{
	width: 38px;
	padding: 3px;
	font-size: 18px;
	margin: 3px;
	border: none;
	border-radius: 2px;
}

section .tarif .center_tarif article .buy input[type=submit]{
	width: 121px;
	border: solid 1px #b30000;
	background-image: linear-gradient(#f00, #f50000,#f00);
}

section .tarif .center_tarif article .buy input[type=submit]:hover{
	background-image: linear-gradient(#f00, #ff1d1d,#f00);
}

footer{
	background-color: #1900ff;
}

footer article{
	display: inline-block;
}

footer article .copy{
	background-color: #ab9d9d;
	padding: 10px 10px 10px 90px;
	margin: 30px 10px 30px 0;
	position: relative; /*Relative obligatoire pour faire sortir la div de l'écran et donc assurer le positionnement de l'ombre */
	left: -63px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}

footer article .lien{
	background-color: #ab9d9d;
	padding: 6px 30px 6px 30px;
	margin: 10px;
	/* position: relative; */ /*Relative supprimée*/
}

/* Adding */

.split{
	background: rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -1px 7px 1px rgba(0, 0, 0, 0.7);
	padding: 24px 0 24px 68px;
	font-size: 22px;
	color: #eaeaea;
}

@keyframes chargement{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.chargement{
	background-color: blueviolet;
	position: fixed;
	text-align: center;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	z-index: 9999;
}

.chargement img{
	animation: chargement 1s linear infinite;
}